In [ ]:
#Credits and Thanks
#https://github.com/krishnaik06/Pyspark-With-Python (Commands and Datasets)
#https://www.youtube.com/watch?v=_C8kWso4ne4&pp=ugMICgJwdBABGAE%3D

# Beginning

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 17.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=d18be13071d7f0ec29c44ebfd98413225fe9d09a37f8a5f18981664972c7b002
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('PySpark').getOrCreate()

# Basic Commands

In [ ]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.printSchema()

In [ ]:
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.select('Name','age','Experience').show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
|     Paul| 24|         3|
|   Harsha| 21|         1|
|  Shubham| 23|         2|
+---------+---+----------+

In [ ]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [ ]:
df_pyspark=df_pyspark.withColumn('Experience/Age',df_pyspark['Experience']/df_pyspark['age'])

In [ ]:
df_pyspark.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|      Experience/Age|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|  0.3225806451612903|
|Sudhanshu| 30|         8| 25000| 0.26666666666666666|
|    Sunny| 29|         4| 20000| 0.13793103448275862|
|     Paul| 24|         3| 20000|               0.125|
|   Harsha| 21|         1| 15000|0.047619047619047616|
|  Shubham| 23|         2| 18000| 0.08695652173913043|
+---------+---+----------+------+--------------------+

In [ ]:
df_pyspark=df_pyspark.withColumnRenamed('Experience/Age','Exp/Age')

In [ ]:
df_pyspark.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|             Exp/Age|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|  0.3225806451612903|
|Sudhanshu| 30|         8| 25000| 0.26666666666666666|
|    Sunny| 29|         4| 20000| 0.13793103448275862|
|     Paul| 24|         3| 20000|               0.125|
|   Harsha| 21|         1| 15000|0.047619047619047616|
|  Shubham| 23|         2| 18000| 0.08695652173913043|
+---------+---+----------+------+--------------------+

In [ ]:
df_pyspark=df_pyspark.drop('Exp/Age')

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# Missing Values

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [ ]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [ ]:
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.na.drop(thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [ ]:
df_pyspark.na.drop(subset = ['Name']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
+---------+----+----------+------+

In [ ]:
df_pyspark=df_pyspark.na.fill('Name',['Name'])
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     Name|  34|        10| 38000|
|     Name|  36|      null|  null|
+---------+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=[f'{c}_median' for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [ ]:
df_pyspark = imputer.fit(df_pyspark).transform(df_pyspark)
df_pyspark.show()

+---------+----+----------+------+----------+-----------------+-------------+
|     Name| age|Experience|Salary|age_median|Experience_median|Salary_median|
+---------+----+----------+------+----------+-----------------+-------------+
|    Krish|  31|        10| 30000|        31|               10|        30000|
|Sudhanshu|  30|         8| 25000|        30|                8|        25000|
|    Sunny|  29|         4| 20000|        29|                4|        20000|
|     Paul|  24|         3| 20000|        24|                3|        20000|
|   Harsha|  21|         1| 15000|        21|                1|        15000|
|  Shubham|  23|         2| 18000|        23|                2|        18000|
|   Mahesh|null|      null| 40000|        29|                4|        40000|
|     Name|  34|        10| 38000|        34|               10|        38000|
|     Name|  36|      null|  null|        36|                4|        20000|
+---------+----+----------+------+----------+-----------------+-------------+

In [ ]:
for c in ['age', 'Experience', 'Salary']:
  df_pyspark = df_pyspark.drop(c)
  df_pyspark = df_pyspark.withColumnRenamed(f'{c}_median',c)

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| 29|         4| 40000|
|     Name| 34|        10| 38000|
|     Name| 36|         4| 20000|
+---------+---+----------+------+

# Filter

In [ ]:
spark=SparkSession.builder.appName('Filter').getOrCreate()
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.filter("Salary>=20000 and age > 20").select(['Name','age','Salary']).show()

+---------+---+------+
|     Name|age|Salary|
+---------+---+------+
|    Krish| 31| 30000|
|Sudhanshu| 30| 25000|
|    Sunny| 29| 20000|
|     Paul| 24| 20000|
+---------+---+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']>=20000)&(df_pyspark['Age']>20)).select(['Name','age','Salary']).show()

+---------+---+------+
|     Name|age|Salary|
+---------+---+------+
|    Krish| 31| 30000|
|Sudhanshu| 30| 25000|
|    Sunny| 29| 20000|
|     Paul| 24| 20000|
+---------+---+------+

In [ ]:
df_pyspark.filter(~((df_pyspark['Salary']>=20000)&(df_pyspark['Age']>20))).select(['Name','age','Salary']).show()

+-------+---+------+
|   Name|age|Salary|
+-------+---+------+
| Harsha| 21| 15000|
|Shubham| 23| 18000|
+-------+---+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<25000) | (df_pyspark['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# GroupBy And Aggregate

In [6]:
spark=SparkSession.builder.appName('GroupBy_Aggregate').getOrCreate()
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
#df_pyspark.groupBy('Departments').avg().show()
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [ ]:
df_pyspark.filter("Name = 'Krish'").groupBy('Departments').sum('Salary').show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       4000|
|Data Science|      10000|
+------------+-----------+

In [7]:
df_pyspark=spark.read.csv('tips.csv',header=True,inferSchema=True)
df_pyspark.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
df_pyspark.agg({'tip': 'sum'}).show()

+--------+
|sum(tip)|
+--------+
|  731.58|
+--------+

In [ ]:
df_pyspark.agg({'tip': 'avg'}).show()

+------------------+
|          avg(tip)|
+------------------+
|2.9982786885245902|
+------------------+

In [ ]:
df_pyspark.filter('time = "Dinner"').groupby('day').avg('total_bill').show()

+----+------------------+
| day|   avg(total_bill)|
+----+------------------+
|Thur|             18.78|
| Sun|21.410000000000004|
| Sat|20.441379310344825|
| Fri| 19.66333333333333|
+----+------------------+

In [ ]:
df_pyspark.groupby('day','time').avg('total_bill').show()

+----+------+------------------+
| day|  time|   avg(total_bill)|
+----+------+------------------+
| Fri|Dinner| 19.66333333333333|
|Thur| Lunch| 17.66475409836065|
| Fri| Lunch|12.845714285714285|
| Sat|Dinner|20.441379310344825|
| Sun|Dinner|21.410000000000004|
|Thur|Dinner|             18.78|
+----+------+------------------+

In [25]:
#https://www.geeksforgeeks.org/how-to-get-a-value-from-the-row-object-in-pyspark-dataframe/
df_pyspark.filter(df_pyspark['time'] == 'Dinner').agg({'tip': 'avg'}).collect()[0].__getitem__('avg(tip)')

3.102670454545454

In [26]:
df_pyspark.filter((df_pyspark['time'] == 'Lunch') & (df_pyspark['tip'] > (df_pyspark.filter(df_pyspark['time'] == 'Dinner').agg({'tip': 'avg'}).collect()[0].__getitem__('avg(tip)')))).show()

+----------+----+------+------+----+-----+----+
|total_bill| tip|   sex|smoker| day| time|size|
+----------+----+------+------+----+-----+----+
|      27.2| 4.0|  Male|    No|Thur|Lunch|   4|
|     16.66| 3.4|  Male|    No|Thur|Lunch|   2|
|     32.68| 5.0|  Male|   Yes|Thur|Lunch|   2|
|     34.83|5.17|Female|    No|Thur|Lunch|   4|
|     18.28| 4.0|  Male|    No|Thur|Lunch|   2|
|     24.71|5.85|  Male|    No|Thur|Lunch|   2|
|      29.8| 4.2|Female|    No|Thur|Lunch|   6|
|     18.26|3.25|Female|    No|Thur|Lunch|   2|
|     17.47| 3.5|Female|    No|Thur|Lunch|   2|
|      34.3| 6.7|  Male|    No|Thur|Lunch|   6|
|     41.19| 5.0|  Male|    No|Thur|Lunch|   5|
|     27.05| 5.0|Female|    No|Thur|Lunch|   6|
|     19.81|4.19|Female|   Yes|Thur|Lunch|   2|
|     16.58| 4.0|  Male|   Yes|Thur|Lunch|   2|
|     43.11| 5.0|Female|   Yes|Thur|Lunch|   4|
|     18.71| 4.0|  Male|   Yes|Thur|Lunch|   3|
|     20.53| 4.0|  Male|   Yes|Thur|Lunch|   4|
|     16.47|3.23|Female|   Yes|Thur|Lunch|   3|
|     13.42|3.48|Female|   Yes| Fri|Lunch|   2|
+----------+----+------+------+----+-----+----+